In [76]:
import pandas as pd
import numpy as np

age= [21, 42, 53]
cancer= [False, True, True]

data = {'age': pd.Series(age), 'cancer': pd.Series(cancer)}

cancerData = pd.DataFrame(data)
print (cancerData)

#Trying decisions 
print (cancerData[cancerData['age'] > 22])
print (cancerData['cancer'][cancerData['age'] > 22])

   age  cancer
0   21   False
1   42    True
2   53    True
   age  cancer
1   42    True
2   53    True
1    True
2    True
Name: cancer, dtype: bool

In [77]:
# numpy with pandas
cancerMean = cancerData.apply(np.mean)
print (cancerMean)

age       38.666667
cancer     0.666667
dtype: float64

In [93]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

olympicMedal = {'country_name': pd.Series(countries),
                        'gold': pd.Series(gold),
                        'silver': pd.Series(silver),
                        'bronze': pd.Series(bronze)}
olyData = pd.DataFrame(olympicMedal)

#get the avg num of bronze for team with atleast one gold

olyBronze = olyData['bronze'][olyData['gold']>=1]
print (np.mean(olyBronze))

4.238095238095238

In [107]:
#Avg number of gold, bronze & silver with teams with atleast one medal
olyMedalData = olyData[['bronze', 'gold', 'silver']].apply(np.mean)
print(olyMedalData)

bronze    3.807692
gold      3.807692
silver    3.730769
dtype: float64

In [128]:
total = np.dot(olyData[['gold', 'silver', 'bronze']], [4, 2, 1])

totalScore = {'country': pd.Series(countries), 'score': pd.Series(total)}

print(pd.DataFrame(totalScore))

           country  score
0     Russian Fed.     83
1           Norway     64
2           Canada     65
3    United States     62
4      Netherlands     55
5          Germany     49
6      Switzerland     32
7          Belarus     21
8          Austria     37
9           France     31
10          Poland     19
11           China     22
12           Korea     20
13          Sweden     28
14  Czech Republic     18
15        Slovenia     16
16           Japan     15
17         Finland     11
18   Great Britain      8
19         Ukraine      5
20        Slovakia      4
21           Italy     10
22          Latvia      6
23       Australia      5
24         Croatia      2
25      Kazakhstan      1